# District Cleaning â€” Maharashtra

This notebook standardizes **district names** for this state across:
- Enrolment data
- Demographic update data
- Biometric update data

**All data is saved back to the same cleaned files.**

In [1]:
import pandas as pd
from pathlib import Path

pd.set_option("display.max_rows", None)
pd.set_option("display.width", None)

CLEAN_DIR = Path("../../data/processed/cleaned")

enrol_df = pd.read_csv(CLEAN_DIR / "enrolment_clean.csv")
demo_df  = pd.read_csv(CLEAN_DIR / "demographic_clean.csv")
bio_df   = pd.read_csv(CLEAN_DIR / "biometric_clean.csv")

for df in [enrol_df, demo_df, bio_df]:
    df["state"] = df["state"].astype(str).str.strip().str.title()
    df["district"] = df["district"].astype(str).str.strip().str.title()

print("âœ… All datasets loaded and normalized (Title Case)")

âœ… All datasets loaded and normalized (Title Case)

In [5]:
STATE_NAME = "Maharashtra"

districts = sorted(
    set(
        enrol_df.loc[enrol_df["state"] == STATE_NAME, "district"].dropna()
        .tolist()
    )
)

print(f"State: {STATE_NAME}")
print(f"Number of unique districts: {len(districts)}")

pd.DataFrame(
    {"District Name": districts}
)

State: Maharashtra
Number of unique districts: 40

                District Name
0                 Ahilyanagar
1                       Akola
2                    Amravati
3                        Beed
4                    Bhandara
5                         Bid
6                    Buldhana
7                  Chandrapur
8   Chhatrapati Sambhajinagar
9                   Dharashiv
10                      Dhule
11                 Gadchiroli
12                     Gondia
13                    Hingoli
14                    Jalgaon
15                      Jalna
16                   Kolhapur
17                      Latur
18                     Mumbai
19                Mumbai City
20            Mumbai Suburban
21                     Nagpur
22                     Nanded
23                  Nandurbar
24                     Nashik
25                    Palghar
26                   Parbhani
27                       Pune
28                     Raigad
29                    Raigarh
30                Raigarh(Mh)
31                  Ratnagiri
32                     Sangli
33                     Satara
34                 Sindhudurg
35                    Solapur
36                      Thane
37                     Wardha
38                     Washim
39                   Yavatmal

## District Mapping

Add mappings in **Title Case only**.

Format:
```python
DISTRICT_MAPPING = {
    "Correct District": ["Wrong Name 1", "Wrong Name 2"],
}
```

In [3]:
DISTRICT_MAPPING = {
    # "Correct District": ["Wrong Variant 1", "Wrong Variant 2"]
    "Ahilyanagar": ["Ahmadnagar","Ahmed Nagar","Ahmednagar"],
    "Chhatrapati Sambhajinagar": ["Aurangabad","Chatrapati Sambhaji Nagar"],
    "Buldhana": ["Buldana"],
    "Gondia": ["Gondiya","Gondiya *"],
    "Hingoli": ["Hingoli *"],
    "Nandurbar": ["Nandurbar *"],
    "Dharashiv": ["Osmanabad"],
    "Mumbai Suburban": ["Mumbai( Sub Urban )"],
    "Washim": ["Washim *"]
}

def apply_mapping(df, state, mapping, label):
    total = 0
    for correct, wrongs in mapping.items():
        mask = (
            (df["state"] == state) &
            (df["district"].isin(wrongs))
        )
        count = mask.sum()
        df.loc[mask, "district"] = correct
        total += count
        if count > 0:
            print(f"âœ” {label} â†’ {correct} : {count} rows fixed")
    return total

total_fixes = 0
total_fixes += apply_mapping(enrol_df, STATE_NAME, DISTRICT_MAPPING, "Enrolment")
total_fixes += apply_mapping(demo_df,  STATE_NAME, DISTRICT_MAPPING, "Demographic")
total_fixes += apply_mapping(bio_df,   STATE_NAME, DISTRICT_MAPPING, "Biometric")

print(f"âœ… Total fixes in {STATE_NAME}: {total_fixes}")

âœ” Enrolment â†’ Ahilyanagar : 3896 rows fixed
âœ” Enrolment â†’ Chhatrapati Sambhajinagar : 2249 rows fixed
âœ” Enrolment â†’ Buldhana : 606 rows fixed
âœ” Enrolment â†’ Gondia : 651 rows fixed
âœ” Enrolment â†’ Hingoli : 1 rows fixed
âœ” Enrolment â†’ Nandurbar : 112 rows fixed
âœ” Enrolment â†’ Dharashiv : 1125 rows fixed
âœ” Enrolment â†’ Mumbai Suburban : 332 rows fixed
âœ” Enrolment â†’ Washim : 26 rows fixed
âœ” Demographic â†’ Ahilyanagar : 7258 rows fixed
âœ” Demographic â†’ Chhatrapati Sambhajinagar : 2839 rows fixed
âœ” Demographic â†’ Buldhana : 1458 rows fixed
âœ” Demographic â†’ Gondia : 1315 rows fixed
âœ” Demographic â†’ Hingoli : 2 rows fixed
âœ” Demographic â†’ Nandurbar : 240 rows fixed
âœ” Demographic â†’ Dharashiv : 1722 rows fixed
âœ” Demographic â†’ Mumbai Suburban : 1302 rows fixed
âœ” Demographic â†’ Washim : 246 rows fixed
âœ” Biometric â†’ Ahilyanagar : 8363 rows fixed
âœ” Biometric â†’ Chhatrapati Sambhajinagar : 3315 rows fixed
âœ” Biometric â†’ Buldhana : 1800 rows fixed
âœ” Biometric â†’ Gondia : 1474 rows fixed
âœ” Biometric â†’ Hingoli : 7 rows fixed
âœ” Biometric â†’ Nandurbar : 469 rows fixed
âœ” Biometric â†’ Dharashiv : 2001 rows fixed
âœ” Biometric â†’ Mumbai Suburban : 1694 rows fixed
âœ” Biometric â†’ Washim : 355 rows fixed
âœ… Total fixes in Maharashtra: 44858

In [6]:
enrol_df.to_csv(CLEAN_DIR / "enrolment_clean.csv", index=False)
demo_df.to_csv(CLEAN_DIR / "demographic_clean.csv", index=False)
bio_df.to_csv(CLEAN_DIR / "biometric_clean.csv", index=False)

print("ðŸ’¾ All cleaned files saved successfully (overwritten)")

ðŸ’¾ All cleaned files saved successfully (overwritten)