# District Cleaning â€” West Bengal

This notebook standardizes **district names** for this state across:
- Enrolment data
- Demographic update data
- Biometric update data

**All data is saved back to the same cleaned files.**

In [11]:
import pandas as pd
from pathlib import Path

pd.set_option("display.max_rows", None)
pd.set_option("display.width", None)

CLEAN_DIR = Path("../../data/processed/cleaned")

enrol_df = pd.read_csv(CLEAN_DIR / "enrolment_clean.csv")
demo_df  = pd.read_csv(CLEAN_DIR / "demographic_clean.csv")
bio_df   = pd.read_csv(CLEAN_DIR / "biometric_clean.csv")

for df in [enrol_df, demo_df, bio_df]:
    df["state"] = df["state"].astype(str).str.strip().str.title()
    df["district"] = df["district"].astype(str).str.strip().str.title()

print("âœ… All datasets loaded and normalized (Title Case)")

âœ… All datasets loaded and normalized (Title Case)

In [16]:
STATE_NAME = "West Bengal"

districts = sorted(
    set(
        enrol_df.loc[enrol_df["state"] == STATE_NAME, "district"].dropna()
        .tolist()
    )
)

print(f"State: {STATE_NAME}")
print(f"Number of unique districts: {len(districts)}")

pd.DataFrame(
    {"District Name": districts}
)

State: West Bengal
Number of unique districts: 23

        District Name
0          Alipurduar
1             Bankura
2           Bardhaman
3             Birbhum
4         Cooch Behar
5    Dakshin Dinajpur
6          Darjeeling
7             Hooghly
8              Howrah
9          Jalpaiguri
10           Jhargram
11          Kalimpong
12            Kolkata
13              Malda
14        Murshidabad
15              Nadia
16  North 24 Parganas
17     North Dinajpur
18  Paschim Medinipur
19    Purba Medinipur
20            Purulia
21  South 24 Parganas
22     Uttar Dinajpur

## District Mapping

Add mappings in **Title Case only**.

Format:
```python
DISTRICT_MAPPING = {
    "Correct District": ["Wrong Name 1", "Wrong Name 2"],
}
```

In [15]:
DISTRICT_MAPPING = {
    # "Correct District": ["Wrong Variant 1", "Wrong Variant 2"]
    "North 24 Parganas":["24 Paraganas North","North Twenty Four Parganas"],
    "South 24 Parganas":["South 24 Pargana","24 Paraganas South","South Twenty Four Parganas"],
    "Bardhaman":["Barddhaman","Burdwan","Paschim Bardhaman","Purba Bardhaman"],
    "Cooch Behar":["Coochbehar"],
    "Darjeeling":["Darjiling"],
    "Dakshin Dinajpur":["Dinajpur Dakshin","South Dinajpur"],
    "Uttar Dinajpur":["Dinajpur Uttar"],
    "Purba Medinipur":["East Midnapore","East Midnapur"],
    "Howrah":["Haora","Hawrah"],
    "Hooghly":["Hooghiy","Hugli"],
    "Cooch Behar":["Koch Bihar"],
    "Malda":["Maldah"],
    "Paschim Medinipur":["Medinipur","Medinipur West","West Midnapore","West Medinipur"],
    "Purulia":["Puruliya"]
}

def apply_mapping(df, state, mapping, label):
    total = 0
    for correct, wrongs in mapping.items():
        mask = (
            (df["state"] == state) &
            (df["district"].isin(wrongs))
        )
        count = mask.sum()
        df.loc[mask, "district"] = correct
        total += count
        if count > 0:
            print(f"âœ” {label} â†’ {correct} : {count} rows fixed")
    return total

total_fixes = 0
total_fixes += apply_mapping(enrol_df, STATE_NAME, DISTRICT_MAPPING, "Enrolment")
total_fixes += apply_mapping(demo_df,  STATE_NAME, DISTRICT_MAPPING, "Demographic")
total_fixes += apply_mapping(bio_df,   STATE_NAME, DISTRICT_MAPPING, "Biometric")

print(f"âœ… Total fixes in {STATE_NAME}: {total_fixes}")

âœ… Total fixes in West Bengal: 0

In [17]:
enrol_df.to_csv(CLEAN_DIR / "enrolment_clean.csv", index=False)
demo_df.to_csv(CLEAN_DIR / "demographic_clean.csv", index=False)
bio_df.to_csv(CLEAN_DIR / "biometric_clean.csv", index=False)

print("ðŸ’¾ All cleaned files saved successfully (overwritten)")

ðŸ’¾ All cleaned files saved successfully (overwritten)